* { box-sizing: border-box; 

    font-family: 'Lato', sans-serif;

 }


body {
  background-image: url("images/stage.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.charizard {
  width: 219px;
  height: 221px;
  background-image: url("images/char.png");
  animation: walkchar 7s steps(143) infinite;
  /* right: 1440px;
  bottom: 820px; */
  right: 400px;
  top: 300px;
  position: absolute;
  transform: scale(2);
}


@keyframes walkchar {
  100% { background-position: -31317px; }
}

.blastoise {
  width: 236px;
  height: 236px;
  background-image: url("images/blasto.png");
  animation: walkblas 10s steps(244) infinite;
  /* right: 2240px;
  bottom: 500px; */
  left: 400px;
  top: 600px;
  position: absolute;
  transform: scale(2);
}

@keyframes walkblas {
  100% { background-position: -57584px; }
}

.trainer {
  width: 177px;
  height: 237px;
  background-image: url("images/trainer.png");
  animation: walktrain 2s steps(21) infinite;
  /* right: 1440px;
  bottom: 820px; */
  right: 100px;
  top: 280px;
  position: absolute;
}


@keyframes walktrain {
  100% { background-position: -3717px; }
}

.health-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  height: 40px;
  left: 1050px;
  top:100px;
  font-family: 'Lato', sans-serif;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.bar {
  background: green;
  width: 100%;
  height: 10px;
  position: relative;
  
  transition: width .5s linear;
}

.hit {
  background: rgba(255,255,255,0.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0px;
  
  transition: width .5s linear;
}

.damage-random {
  background: #008CBA;
  position: absolute;
  top: 800px;
  left: 1300px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#damage-random2 {
  background: #89DFED;
  position: absolute;
  top: 800px;
  left: 1460px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#damage-random3 {
  background: #FF98BD;
  position: absolute;
  top: 860px;
  left: 1300px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#damage-random4 {
  background: #5C4C4B;
  position: absolute;
  top: 860px;
  left: 1470px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.reset {
  background: white;
  position: absolute;
  top: 800px;
  left: 1480px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.log {
  background: white;
  width: 20%;
  text-align: center;
  border: thin solid black;
  top: 807px;
  left: 900px;
  position: absolute;
}

#charb {
  background: white;
  width: 20%;
  text-align: center;
  border: thin solid black;
  top: 5px;
  left: 5px;
  position: absolute;
}

#damage {
  background: #f44336;
  position: absolute;
  top: 10px;
  left: 500px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#damage2 {
  background: #c29f02;
  position: absolute;
  top: 65px;
  left: 665px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#damage3 {
  background: #6e39ff;
  position: absolute;
  top: 65px;
  left: 500px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#damage4 {
  background: #6C9DEA;
  position: absolute;
  top: 10px;
  left: 660px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#reset {
  background: #ffffcc;
  position: absolute;
  top: 400px;
  left: 10px;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#hchar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 400px;
  height: 40px;
  left: 300px;
  top:300px;
  font-family: 'Lato', sans-serif;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}

.audio {
  position: relative;
  left: 1550px;
  top:10px;
}